<div class="container">
  <alert type="{{message.type}}" *ngIf="message" class="message">
    <strong>{{message.title}}</strong> {{message.body}}
  </alert>

  <form class="trip-form" (ngSubmit)="search()" [ngClass]="{hide: result}">
    <h2 class="trip-form-heading text-center">Pick Your Trip</h2>
    <select class="form-control" name="from" [(ngModel)]="trip.from">
      <option value="">From</option>
      <option *ngFor="let departureItem of departureList"
              value="{{departureItem.departure}}">{{departureItem.departure}}</option>
    </select>
    <select class="form-control" name="to" [(ngModel)]="trip.to">
      <option value="">To</option>
      <option *ngFor="let arrivalItem of arrivalList"
              value="{{arrivalItem.arrival}}">{{arrivalItem.arrival}}</option>
    </select>
    <div class="btn-group home">
      <label class="btn btn-secondary" name="cheapest" [(ngModel)]="trip.type" btnRadio="finalCost">Cheapest</label>
      <label class="btn btn-secondary" name="fastest" [(ngModel)]="trip.type" btnRadio="durationMin">Fastest</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
  </form>

  <div class="result" [ngClass]="{show: result}" *ngIf="result">
    <h2 class="trip-form-heading text-center">Your Trip</h2>
    <div *ngFor="let route of result" class="item row">
      <div class="col-9">
        <div class="line1">{{route.departure}} -> {{route.arrival}}</div>
        <div class="line2">{{route.transport}} {{route.reference}} for {{route.duration.h}}h{{route.duration.m}}</div>
      </div>
      <div class="col-3">
        {{route.finalCost}} {{currency}}
      </div>
    </div>
    <div class="item dark-background row">
      <div class="col-3 align-middle">Total</div>
      <div class="col-6 align-middle text-center">{{totalDuration.h}}h{{totalDuration.m}}</div>
      <div class="col-3 align-middle">{{totalCost}} {{currency}}</div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="reset()">Reset</button>
  </div>

</div> <!-- /container -->

