@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background-image: URL('./assets/background.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

.btn-primary {
  background: $primary-color;
  border-color: $primary-border-color;
}

.btn-primary:hover {
  color: $white;
  background-color: $primary-color-hover;
  border-color: $primary-border-color;
}
.dark-background{
  background: $dark !important;
}
